@using fInancialFinesseProject.Shared.Domain
@inject fInancialFinesseProject.Client.Services.IBlogService BlogService

<input type="text" @bind="searchTerm" placeholder="Search by category..." class="form-control mb-3" />

@foreach (var post in FilteredPosts)
{
    <div class="card my-4">
        <div>
            <img src="@post.Image" width="200" />
        </div>
        <div class="card-body">
            <h5 class="card-title">@post.Title</h5>
            <p class="card-text">@post.Category</p>
            <p class="card-text">@post.Description</p>
            <p class="card-text"><small class="text-muted">@post.DateCreated.ToLongDateString()</small></p>
            <a href="/posts/@post.Url" class="btn btn-primary">Read More...</a>
        </div>
    </div>
}

@code {
    private List<BlogPost> Posts = new List<BlogPost>();
    private string searchTerm = string.Empty;

    string placeholderImage = "https://loremflickr.com/1060/180";

    protected override async Task OnInitializedAsync()
    {
        Posts = await BlogService.GetBlogPosts();
    }

    private IEnumerable<BlogPost> FilteredPosts =>
        string.IsNullOrWhiteSpace(searchTerm) ?
        Posts :
        Posts.Where(post => post.Category?.ToLower().Contains(searchTerm.ToLower()) ?? false);
}
