@using fInancialFinesseProject.Shared
@inject fInancialFinesseProject.Client.Services2.IForumService ForumService

<input type="text" @bind="searchTerm" placeholder="Search by category..." class="form-control mb-3" />

@foreach(var post in FilteredPosts)
{

    <div class="card my-4">
        @*<div class="card-img" style="background-image: url('@(post.Image ?? placeholderImage)');"></div>*@
        <div>
            <img src="@post.Image" width="200" />
        </div>
        <div class="card-body">
            <h5 class="card-title">@post.Title</h5>
            <p class="card-text">@post.Category</p>
            <p class="card-text">@post.Description</p>
            <p class="card-text"><small class="text-muted">@post.DateCreated.ToLongDateString()</small></p>
            <a href="/forums/@post.Url" class="btn btn-primary">Read More...</a>
        </div>
    </div>

    @*<div style="margin: 20px;">
        <div>
            <img src="@post.Image" width="200" />
        </div>
        <div>
            <h3>@post.Title</h3>
        </div>
        <div>
            @post.Description
        </div>
        <div>
            <a href="/forums/@post.Url">Read More...</a>
        </div>
    </div>*@
}

@code {
    private List<ForumPost> Posts = new List<ForumPost>();
    private string searchTerm = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Posts = await ForumService.GetForumPosts();
    }

    private IEnumerable<ForumPost> FilteredPosts =>
        string.IsNullOrWhiteSpace(searchTerm) ?
        Posts :
        Posts.Where(post => post.Category?.ToLower().Contains(searchTerm.ToLower()) ?? false);
}

